/* Base styles */
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #34495e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title-header {
    color: #ffffff;
    margin-bottom: 20px;
}

/* Components */
.container {
    width:500px;
	height:500px;
	background-color: #ccc;
	border-radius:50%;
	border:15px solid #dde;
	position: relative;
	overflow: hidden;
	transition: 5s;
}

#spin {
    position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:10;
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:20px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}

.arrow {
    position: absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);
	color:#fff;
}

.footer {
    color: #ffffff;
    margin-top: 20px;
}

/* Responsiveness */
@media only screen and (max-width: 600px) {
    .container {
        width: 80vw;
        height: 80vw;
    }

    .container div {
        width: 40vw;
        font-size: 5vw;
    }

    #spin {
        width: 40vw;
        height: 40vw;
        font-size: 5vw;
    }

    .arrow::before {
        font-size: 10vw;
    }
}
